{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ form_start(form) }}
{{ form_row(form._token) }}
<div class="alert">
    {{ form_errors(form) }}
</div>
<div class="row">
    <div class="col">
        {{ form_row(form.code, {'attr': {readonly: true}}) }}
    </div>
    <div class="col" id="some-custom-id" >
        {{ form_row(form.template, {'attr': {readonly: true}}) }}
    </div>
</div>
<div id="labels">
    {% for locale, value in form.labels %}
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="" style="width: 70px;">{{ locale }}</span>
            </div>
            <input  type="text" name="parameter[labels][{{ locale }}]" class="form-control" value="{{ form.labels[locale].vars.value }}">
        </div>
    {% endfor %}
</div>
{% if parameter.template != "" %}
{{ include('admin/parameter/forms/' ~ parameter.template, {'form': form}) }}
{% endif %}
<br>
<button class="btn btn-secondary">{{ button_label|default('Save') }}</button>
{# don't render unrendered fields #}
{{ form_end(form, {'render_rest': false}) }}